# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.14.1
    hooks:
      - id: commitizen
  - repo: local
    hooks:
      - id: format
        name: Format (bin/format.sh)
        entry: ./bin/format.sh
        language: system
        pass_filenames: true
      - id: lint
        name: Lint (make lint)
        entry: make lint
        language: system
        pass_filenames: false
      - id: test
        name: Run tests
        entry: make test
        language: system
        pass_filenames: false
        stages: [manual]
