# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v3.14.1
    hooks:
      - id: commitizen
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.0
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: local
    hooks:
      - id: guardrails
        name: Guardrails
        entry: python3 scripts/guardrails.py
        language: system
        pass_filenames: false
      - id: pyright
        name: Pyright
        entry: pyright
        language: system
        pass_filenames: false
      - id: test
        name: Run tests
        entry: make test
        language: system
        pass_filenames: false
        stages: [manual]
